<style>
    
html { 
  background: linear-gradient(
      rgba(0, 0, 0, 0.8), 
      rgba(0, 0, 0, 0.8)
    ),url(../../../assets/img/back-login.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body, .content-wrapper, #login-page {
  background-color: none !important;
  background: none !important;
}

</style>
  <section>
    <div class="register-box">
      <div class="register-logo">
         <a href="http://127.0.0.1"><span class="logo-lg wp-logo wp-logo-big">Weepo</span></a>
         <h2>Registrate y comenzá ya mismo <br/>con esta nueva experiencia!</h2>
      </div>

      <div class="register-box-body">
        <p class="login-box-msg">Nueva cuenta</p>
        <form ng-submit="submit()" role="form">
          <div class="form-group has-feedback">
            <input type="text" class="form-control" placeholder="Nombre de Usuario" ng-model="newUser.userName"/>
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
            <input type="email" class="form-control" placeholder="Email" ng-model="newUser.email"/>
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
            <input type="password" class="form-control" placeholder="Contraseña Nueva" ng-model="newUser.password"/>
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
            <input type="password" class="form-control" placeholder="Ingrese Nuevamente la Contraseña" ng-model="newUser.rePassword" />
            <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
          </div>
          <div class="row">
            <div class="col-xs-8">    
              <div class="checkbox icheck">
                <label>
                  <input type="checkbox" ng-model="acceptsConditions">He leido y acepto las  <a href="#">condiciones</a>
                </label>
              </div>                        
            </div><!-- /.col -->
            <div class="col-xs-4">
              <button type="submit" class="btn btn-primary btn-block btn-flat" >Registrarse</button>
            </div><!-- /.col -->
          </div>
        </form>        

        <div class="social-auth-links text-center">
          <p>- O -</p>
          <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Registrarme usando Facebook</a>
          <a href="#" class="btn btn-block btn-social btn-google-plus btn-flat"><i class="fa fa-google-plus"></i> Registrarme usando Google+</a>
        </div>

        <a href="#/login" class="text-center">Ya tengo una cuenta en Weepo</a>
      </div><!-- /.form-box -->
    </div><!-- /.register-box -->
  </section>
