node_modules
dist
.tmp
.sass-cache
bower_components
.backets.json
www.app.old
*.aux
*.log
*.pdf
*.gz
*.toc
.fuse_hidden*
resources/bd/Weepo.backup
carpeta.de.proyecto/75.45-Grupo.05-Weepo-Carpeta.de.proyecto.synctex.gz
