<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Administrar campañas
  </h1>
  <ol class="breadcrumb">
    <li><i class="fa fa-dashboard"></i> Dashboard</li>
    <li class="active">Administrar campañas</li>
  </ol>
</section>

<section class="content">

	<section id="list">
		<div class="row">
            <div class="col-xs-12">
              <div class="box box-primary">
                <div class="box-header bg-blue">
                  <h3 class="box-title">Campañas</h3>
                  <div class="box-tools">
                    <div class="input-group">
                      <div class="pull-right" 
                           data-toggle="tooltip"
                           title="Nueva campaña" 
                           data-placement="bottom"
                      >
                      	<a href="#" 
                          data-toggle="control-sidebar"
                        >
                          <i class="fa fa-plus-circle" style="font-size:35px; color:white;"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div><!-- /.box-header -->
                <div class="box-body no-padding">

                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div>
        </div>
	</section>

	<section id="slider">
		<div id="team">
		  	<div class="container">

		        <div class="team_area">
		          <!-- BEGAIN TEAM SLIDER -->
		          <div class="team_slider">  
		                         
		            <div class="col-lg-3 col-md-3 col-sm-4 wp-description-card">
		              <div class="">
		                <h5>Share a Coke with</h5>
		                <hr>
		                <div class="wp-img-container">
		                  <img src="assets/data/coke-01.jpg" alt="img">
		                </div>
		                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		                <div class="pull-right">
		                	<a href="#" class="btn btn-primary"  
                         data-toggle="tooltip"
                         title="Editar" 
                         data-placement="top">
                          <i class="fa fa-pencil"></i>
                      </a>
  			            	<a href="#" class="btn btn-success" 
                         data-toggle="tooltip"
                         title="Gestionar" 
                         data-placement="top">
                          <i class="fa fa-gear"></i>
                      </a>
  			            	<a href="#" class="btn btn-danger" 
                         data-toggle="tooltip"
                         title="Eliminar" 
                         data-placement="top">
                          <i class="fa fa-times"></i>
                      </a>
		                </div>
		              </div>
		            </div>
		                         
		            <div class="col-lg-3 col-md-3 col-sm-4 wp-description-card">
		              <div class="">
		                <h5>Brasil 2014 FIFA World Cup</h5>
		                <hr>
		                <div class="wp-img-container">
		                  <img src="assets/data/coke-02.jpg" alt="img">
		                </div>
		                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		                <div class="pull-right">
                      <a href="#" class="btn btn-primary"  
                         data-toggle="tooltip"
                         title="Editar" 
                         data-placement="top">
                          <i class="fa fa-pencil"></i>
                      </a>
                      <a href="#" class="btn btn-success" 
                         data-toggle="tooltip"
                         title="Gestionar" 
                         data-placement="top">
                          <i class="fa fa-gear"></i>
                      </a>
                      <a href="#" class="btn btn-danger" 
                         data-toggle="tooltip"
                         title="Eliminar" 
                         data-placement="top">
                          <i class="fa fa-times"></i>
                      </a>
                    </div>
		              </div>
		            </div>
		                         
		            <div class="col-lg-3 col-md-3 col-sm-4 wp-description-card">
		              <div class="">
		                <h5>The Coke side of the life</h5>
		                <hr>
		                <div class="wp-img-container">
		                  <img src="assets/data/coke-03.jpg" alt="img">
		                </div>
		                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		                <div class="pull-right">
                      <a href="#" class="btn btn-primary"  
                         data-toggle="tooltip"
                         title="Editar" 
                         data-placement="top">
                          <i class="fa fa-pencil"></i>
                      </a>
                      <a href="#" class="btn btn-success" 
                         data-toggle="tooltip"
                         title="Gestionar" 
                         data-placement="top">
                          <i class="fa fa-gear"></i>
                      </a>
                      <a href="#" class="btn btn-danger" 
                         data-toggle="tooltip"
                         title="Eliminar" 
                         data-placement="top">
                          <i class="fa fa-times"></i>
                      </a>
                    </div>
		              </div>
		            </div>
		                         
		            <div class="col-lg-3 col-md-3 col-sm-4 wp-description-card">
		              <div class="">
		                <h5>Coke Gulp</h5>
		                <hr>
		                <div class="wp-img-container">
		                  <img src="assets/data/coke-04.jpg" alt="img">
		                </div>
		                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		                <div class="pull-right">
                      <a href="#" class="btn btn-primary"  
                         data-toggle="tooltip"
                         title="Editar" 
                         data-placement="top">
                          <i class="fa fa-pencil"></i>
                      </a>
                      <a href="#" class="btn btn-success" 
                         data-toggle="tooltip"
                         title="Gestionar" 
                         data-placement="top">
                          <i class="fa fa-gear"></i>
                      </a>
                      <a href="#" class="btn btn-danger" 
                         data-toggle="tooltip"
                         title="Eliminar" 
                         data-placement="top">
                          <i class="fa fa-times"></i>
                      </a>
                    </div>
		              </div>
		            </div>

		          </div>
		        </div>

		  	</div>
		</div>
	</section>

	<section id="list">
		<div class="row">
            <div class="col-xs-12">
              <div class="box box-primary">
                <div class="box-header bg-blue">
                  <h3 class="box-title">Listado general</h3>
                  <div class="box-tools">
                    <div class="input-group">
                      <div class="pull-right">2 de 5 activas</div>
                    </div>
                  </div>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                  <table class="table table-hover">
                    <tr>
                      <th class="col-md-6">Nombre de la campaña</th>
                      <th class="text-center col-md-2">Fecha de lanzamiento</th>
                      <th class="text-center col-md-2">Estado</th>
                      <th class="col-md-2">Opciones</th>
                    </tr>
                    <tr>
                      <td>Campaña 01</td>
                      <td class="text-center">10/05/2015</td>
                      <td class="text-center"><span class="label label-success wp-label-fixed">Activa</span></td>
                      <td>
    			            	<a href="#" class="btn btn-primary"  
                           data-toggle="tooltip"
                           title="Editar" 
                           data-placement="top">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <a href="#" class="btn btn-success" 
                           data-toggle="tooltip"
                           title="Gestionar" 
                           data-placement="top">
                            <i class="fa fa-gear"></i>
                        </a>
                        <a href="#" class="btn btn-danger" 
                           data-toggle="tooltip"
                           title="Eliminar" 
                           data-placement="top">
                            <i class="fa fa-times"></i>
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>Campaña 02</td>
                      <td class="text-center">10/05/2015</td>
                      <td class="text-center"><span class="label label-success wp-label-fixed">Activa</span></td>
                      <td>
    			            	<a href="#" class="btn btn-primary"  
                           data-toggle="tooltip"
                           title="Editar" 
                           data-placement="top">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <a href="#" class="btn btn-success" 
                           data-toggle="tooltip"
                           title="Gestionar" 
                           data-placement="top">
                            <i class="fa fa-gear"></i>
                        </a>
                        <a href="#" class="btn btn-danger" 
                           data-toggle="tooltip"
                           title="Eliminar" 
                           data-placement="top">
                            <i class="fa fa-times"></i>
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>Campaña 03</td>
                      <td class="text-center">10/05/2015</td>
                      <td class="text-center"><span class="label label-info wp-label-fixed">Finalizada</span></td>
                      <td>
    			            	<a href="#" class="btn btn-primary"  
                           data-toggle="tooltip"
                           title="Editar" 
                           data-placement="top">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <a href="#" class="btn btn-success" 
                           data-toggle="tooltip"
                           title="Gestionar" 
                           data-placement="top">
                            <i class="fa fa-gear"></i>
                        </a>
                        <a href="#" class="btn btn-danger" 
                           data-toggle="tooltip"
                           title="Eliminar" 
                           data-placement="top">
                            <i class="fa fa-times"></i>
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>Campaña 04</td>
                      <td class="text-center">10/05/2015</td>
                      <td class="text-center"><span class="label label-warning wp-label-fixed">En pausa</span></td>
                      <td>
    			            	<a href="#" class="btn btn-primary"  
                           data-toggle="tooltip"
                           title="Editar" 
                           data-placement="top">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <a href="#" class="btn btn-success" 
                           data-toggle="tooltip"
                           title="Gestionar" 
                           data-placement="top">
                            <i class="fa fa-gear"></i>
                        </a>
                        <a href="#" class="btn btn-danger" 
                           data-toggle="tooltip"
                           title="Eliminar" 
                           data-placement="top">
                            <i class="fa fa-times"></i>
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>Campaña 05</td>
                      <td class="text-center">10/05/2015</td>
                      <td class="text-center"><span class="label label-danger wp-label-fixed">Cancelada</span></td>
                      <td>
    			            	<a href="#" class="btn btn-primary"  
                           data-toggle="tooltip"
                           title="Editar" 
                           data-placement="top">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <a href="#" class="btn btn-success" 
                           data-toggle="tooltip"
                           title="Gestionar" 
                           data-placement="top">
                            <i class="fa fa-gear"></i>
                        </a>
                        <a href="#" class="btn btn-danger" 
                           data-toggle="tooltip"
                           title="Eliminar" 
                           data-placement="top">
                            <i class="fa fa-times"></i>
                        </a>
                      </td>
                    </tr>
                  </table>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div>
        </div>
	</section>

</section><!-- /.content -->


<!-- slick slider -->
<link href="assets/libs/slick/slick.css" rel="stylesheet"> 
<script src="assets/libs/slick/slick.min.js"></script>  
<script type="text/javascript">

  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  

    $('.team_slider').slick({
      dots: true,
      infinite: false,
      speed: 300,
      slidesToShow: 3,
      slidesToScroll: 3,
      responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 3,
            infinite: false,
            dots: true
          }
        },
        {
          breakpoint: 600,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2
          }
        },
        {
          breakpoint: 480,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
      ]
    });

  });

</script>