<section>
    <div class="row" style="height: 500px;">
        <header class="text-center">
            <span class="logo-lg wp-logo wp-logo-big">Weepo</span>
        </header>

        <div class="wp-card wp-space-med-top">

            <div class="text-danger wp-space-med-bottom fadein fadeout" data-ng-show="loginFailed">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> 
              {{ message }}
            </div>
            
            <form class="form-horizontal" role="form" ng-submit="login()">

                <div class="form-group">
                    <div class="col-md-12">
                        <input name="email" id="email" type="text" placeholder="Email o Nombre de usuario" class="form-control" ng-model="user.username" required />

                        <input name="password" id="password" type="password" placeholder="Contraseña" class="form-control" ng-model="user.password" required />
                    </div>
                </div>
                
                <div class="form-group">
                    <div class=" col-md-12 text-center">
                        <input type="submit" value="Acceder" class="btn btn-primary btn-block btn-lg" />
                        <p class="text-left wp-space-small-top"><a href="#/" class="wp-text-small">¿Necesitas ayuda?</a></p>
                    </div>
                </div> 

            </form>
        </div>
    </div><!-- /.row -->
</section >