<style>
    
html { 
  background: linear-gradient(
      rgba(0, 0, 0, 0.8), 
      rgba(0, 0, 0, 0.8)
    ),url(../../../assets/img/back-login.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body, .content-wrapper, #login-page {
  background-color: none !important;
  background: none !important;
}

</style>

<section>
    <div>
        <header class="text-center">
            <a href="http://127.0.0.1"><span class="logo-lg wp-logo wp-logo-big">Weepo</span></a>
            <h2>Inicia sesión y comienza ya mismo <br/> a crear tus campañas publicitarias de internet!</h2>
        </header>

        <div class="wp-card wp-space-med-top">

            <div class="text-danger fadein fadeout" data-ng-show="loginFailed">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> 
              {{ message }}
            </div>
            
            <form class="form-horizontal" role="form" ng-submit="login()">

              <fieldset>
                <div class="form-group">
                    <div class="col-md-12">
                        <input name="email" id="email" type="text" placeholder="Email o Nombre de usuario" class="form-control" ng-model="user.username" required />

                        <input name="password" id="password" type="password" placeholder="Contraseña" class="form-control" ng-model="user.password" required />
                        <p class="text-right wp-space-very-small-top"><a href="#/" class="wp-text-small">¿Ha olvidado su contraseña?</a></p>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class=" col-md-12 text-center">
                        <input type="submit" value="Acceder" class="btn btn-primary btn-block btn-lg" />
                    </div>
                </div> 
              </fieldset>
            </form>

            <div class="wp-hr wp-space-med-bottom wp-space-med-top">
              <span>O inicia sesión con tu cuenta de</span>
            </div>

            <div class="wp-social-networks-bar">
              <div class="text-center">
                <a class="btn btn-block btn-social-icon btn-twitter">
                  <i class="fa fa-twitter"></i><!--  Acceder con Twitter -->
                </a>              
                <a class="btn btn-block btn-social-icon btn-facebook">
                  <i class="fa fa-facebook"></i><!--  Acceder con Facebook -->
                </a>              
                <a class="btn btn-block btn-social-icon btn-google-plus" href="/auth/google">
                  <i class="fa fa-google-plus"></i><!--  Acceder con Google+ -->
                </a>              
              </div>
            </div>  
        </div>
    </div><!-- /.row -->


</section >